<ion-view style="" class=" " id="page1" title="Home">
    <ion-content class="has-header" padding="true">
        <form class="list " id="home-form1">
            <label style="" name="DestinationSearch" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Where are you going" type="search">
            </label>
        </form>
        <div id="home-card21" class="list card ">
            <ion-item style="" class="  " ui-sref="menu.parkingSpaces" id="home-list-item4">Location 1</ion-item>
            <ion-item style="" class="  " id="home-list-item6">Location 2</ion-item>
            <ion-item style="" class="  " id="home-list-item7">Location 3</ion-item>
            <ion-item style="" class="  " id="home-list-item8">Location 4</ion-item>
        </div>
    </ion-content>
</ion-view>