<ion-view style="" class=" " id="page2" title="Parking Spaces">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="parkingSpaces-list1">
            <ion-item style="" class="  " id="parkingSpaces-list-item9">FVM Parking</ion-item>
            <ion-item style="" class="  " id="parkingSpaces-list-item11">Bimal Parking</ion-item>
            <ion-item style="" class="  " id="parkingSpaces-list-item10">CA Parking</ion-item>
            <ion-item style="" class="  " id="parkingSpaces-list-item12">Virginia Parking</ion-item>
        </ion-list>
    </ion-content>
</ion-view>